@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 8px;
}

#datetime-picker:disabled {
  color: #808080;
}

#datetime-picker:active {
  color: #808080 #000000;
}

.flatpickr-day {
  stroke-width: 1px;
  stroke: #4e75ff;
}

.input-active {
  color: #000000;
}

.input-disabled {
  color: #808080;
}

.wrap {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
}

.display-start {
  display: flex;
  margin-bottom: 32px;
}

.btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #cfcfcf;
  border: none;
  color: #989898;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.btn:hover {
  border-radius: 8px;
  background: #6c8cff;
  color: #ffffff;
}

.btn:disabled {
  border-radius: 8px;
  background: #cfcfcf;
  color: #989898;
}

/* .btn:active {
  border-radius: 4px;
  background: #fff;
  color: #000000;
} */

.btn-normal {
  border-radius: 8px;
  background: #4e75ff;
  color: #ffffff;
}

.timer {
  width: 346px;
  height: 72px;
  display: flex;
  align-items: flex-start;
  gap: 27px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  display: inline-block;
  width: 55px;
  height: 48px;
  color: #2e2f42;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

.label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.form-back-link {
  margin-left: 40px;
}

.container {
  margin-left: 156px;
  background: #fff;
}

.form {
  display: flex;
  display: block;
  flex-direction: column;
  margin-top: 36px;
}

.delay-label {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 30px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.input-delay {
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
}

.fulfilled-label {
  margin-left: 48px;
  margin-right: 48px;
}

.fieldset {
  display: flex;
  width: 360px;
  height: 64px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #808080;
  border-radius: 4px;
  margin-bottom: 24px;
  border: 1px solid;
}

.fulfilled-label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.rejected-label {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.fieldset-legend {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.btn {
  width: 360px;
  height: 40px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  margin-bottom: 40px;
}

.btn:hover {
  background: #6c8cff;
}
.form-back-link {
  margin: 0;
  color: blue;
  text-decoration: underline;
}
